# Data Science Tools and Ecosystem

## Author
Brandon E

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for data science
- List commonly used libraries for data scientists
- List popular used tools for data science
- How to evaluate arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:

1. R
2. Python
3. Julia
4. Swift

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Matplotlib
3. Apache Spark
4. TensorFlow

| Data Science Tools |
| ------------------ |
| Spyder |
| Jupyter |
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [14]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [26]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335